<%- include('./partials/head.ejs') %>
<body class="pnf">
    <%- include('./partials/nav.ejs') %>
    <div id="sing">
        <p><%=blog.title%></p>
            <p><%=blog.snippet%></p>
            <p><%=blog.body %></p>
    </div>
    
</body>
<%- include('./partials/footer.ejs') %>
</html>